version: '3.9'

services:
  postgres:
    image: postgres:15
    restart: always
    container_name: lms-postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - '5432:5432'

  redis:
    image: redis:7-alpine
    restart: always
    container_name: lms-redis
    ports:
      - '6379:6379'
    volumes:
      - redisdata:/data

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: lms-app
    depends_on:
      - postgres
      - redis
    env_file:
      - .env
    ports:
      - '3000:3000'
    restart: always
    command: >
      sh -c "npx prisma generate &&
             npx prisma migrate deploy &&
             npm run start:prod"

volumes:
  pgdata:
  redisdata:
